<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Mi nombre es <%= nombre %>
      <%= apellido %>></p>
      <p>Mi cédula es <%= cedula %></p>
      <p>Estoy en la sección <%= seccion %></p>
  </body>
</html>
